<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/listaTelefonicaCtrl.js"></script>
    <script src="js/services/contatosAPIService.js"></script>
    <script src="js/services/operadorasAPIService.js"></script>
    <script src="js/config/config.value.js"></script>
    <script src="js/config/serialGeneratorConfig.js"></script>
    <script src="js/services/serialGeneratorService.js"></script>
    <script src="js/filters/nameFilter.js"></script>
    <script src="js/filters/ellipsisFilter.js"></script>
    <script src="lib/locale_pr-br.js"></script>
    <script src="js/directive/uiAlertDirective.js"></script>
    <script src="js/directive/uiDateDirective.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/ui.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script>
      //rb - angular js
      //diretivas são esttensões da linguagem HTML
      //que permitem a implementação de nmopvos comportomanetos, de forma
      //declarativa.

      //ngBind  subistitiu o elemento por uma expressao
      //ngRepeat iterar sobre arrays e objetos
      //ngModel Vinculado uma propriedado ao $scope ..(o inverso do bind)
      //two way databind
      //ngClick {{eventos}} Atribuindo um comportamento ao evento
      //ngDisabled desabilitar elementos
      //ngOptions rederiza as opcoes de um select
      //ngClass e ngStyle  aplicando classes e estilos dinamicamente
      //ngShow, ngHide, e ngIf exibindo elementos de forma condicional
      //ngInclude incluir conteúdo dinamicamente
      //ngRequired serve para declarar que um campo deva ser obrigatorio
      //$valid e $invalid verificam se são válidas e invalidas
      //$pristine e $dirty verifam se um formulário ou um campo já foi utilizaldo alguma vez
      //ngMinlength e ngMaxlength define o tamanho minimo e maximo permitido
      //$rror consultando os de campo ou formulario // contem as validacoes dos seus respectivos estados
      //ngPattern funciona em cima de expressoes regulares
      //Filtros pipe  - uppercase | date | filter | orderby | currency | number | limitTo
      //$http servico pertime faça requisições utilizando o angular
      //get/post/put/delete/head/jsonp
      //sop - orign policy
      //services - reuso  de codigo um singleton ou seja objeto unico craido na inicialização
      // factory | extrair a parte que faz contato com a api ..
      // service ;
      // value -  configValue toda aplicação vai ter acesso
      // provider -passar externamente
      //directive - template/ templateUrl / replace / restrict / scope / transclude
      // especifica o template ou a url do template que deveá
      // ser incluído dentro do elemento que estiver utilizando a diretiva.
    </script>
    <title>Lista Telefonica</title>
  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron mt-4 p-5 rounded">
      <h4>{{app}}</h4>
      <input
        class="form-control mb-3"
        type="text"
        ng-model="criterioDeBusca"
        placeholder="O que você está buscando?"
      />
      <!-- <ui-alert title="Ops, aconteceu um problema!" message="error"> </ui-alert> -->
      <ui-alert ng-if="error" title="Ops, aconteceu um problema!">
        {{error}}
      </ui-alert>

      <table ng-show="contatos.length > 0" class="table table-striped">
        <tr>
          <th></th>
          <th>Serial</th>
          <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
          <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
          <th>Operadora</th>
          <th>Data</th>
          <th>Cor</th>
        </tr>
        <tr
          ng-class="{selecionado: contato.selecionado}"
          ng-repeat="contato in contatos | filter: criterioDeBusca | orderBy: criterioDeOrdenacao : false"
        >
          <td>
            <input type="checkbox" ng-model="contato.selecionado" />
          </td>

          <td>{{contato.serial}}</td>
          <td>{{contato.nome | formatName | ellipsis}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}}</td>
          <td>{{contato.data | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <div
              style="width: 20px; height: 20px"
              ng-style="{'background-color': contato.cor }"
            ></div>
          </td>
        </tr>
      </table>
      <hr />
      <form name="contatoForm" class="mb-4">
        <input
          class="form-control"
          type="text"
          name="nome"
          ng-model="contato.nome"
          placeholder="Nome"
          ng-required="true"
          ng-minlength="3"
        />
        <input
          class="form-control"
          name="telefone"
          type="text"
          ng-model="contato.telefone"
          placeholder="Telefone"
          ng-required="true"
          ng-pattern="/^\d{4,5}-\d{4}$/"
        />
        {{contato.data}}
        <input
          class="form-control"
          name="data"
          type="text"
          ng-model="contato.data"
          placeholder="Data"
          ui-date
        />
        <!-- {{nome}}
        {{telefone}} -->

        <!-- <h4 ng-bind="app"></h4> -->
        <select
          class="form-control"
          ng-model="contato.operadora"
          ng-options="(operadora.nome + '( ' + (operadora.preco | currency) + ' )') group by operadora.categoria for operadora in operadoras"
        >
          <option value="">Selecione uma operadora</option>
        </select>

        <!-- <select
          class="form-control"
          ng-model="contato.cor"
          ng-options="value.cor for value in cores"
        >
          <option value="">Selecione uma cor</option>
        </select> -->
      </form>

      <div
        ng-if="contatoForm.$dirty"
        ng-messages="contatoForm.nome.$error"
        class="alert alert-danger"
      >
        <div ng-message="required">Por favor, preencha o campo nome!</div>
        <div ng-message="minlength">
          O camponome deve ter no mínimo 10 caracteres.
        </div>
      </div>
      <!-- <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
        <div ng-message="required">Por favor, preencha o campo telefone</div>
        <div ng-message="pattern">
          O campo telefone deve ter ser no formato DDDDD-DDDD
        </div>
      </div> -->
      <div
        ng-if="contatoForm.telefone.$error.required && contatoForm.$dirty"
        class="alert alert-danger"
      >
        Por favor, preencha o campo telefone
      </div>
      <div
        ng-if="contatoForm.telefone.$error.pattern"
        class="alert alert-danger"
      >
        O campo telefone deve ter ser no formato DDDDD-DDDD
      </div>
      <button
        class="btn btn-primary btn-block"
        ng-click="adicionarContato(contato)"
        ng-disabled="!contato.nome || !contato.telefone || !contato.operadora"
      >
        Adicionar Contato
      </button>
      <button
        class="btn btn-danger btn-block"
        ng-click="apagarContatos(contatos)"
        ng-if="isContatoSelecionado(contatos)"
      >
        Apagar contato
      </button>
    </div>
    <div ng-include="'view/footer.html'"></div>
  </body>
</html>
